
:root {
  --main-orange:#ff931f;
  --main-blue:#26547C;
  --main-pink:#ef476f;
  --main-green:#06D6A0;
  --main-white: #fffcf9;
}
.App {
  text-align: center;
  color: var(--main-white);
  background-color: var(--main-blue);
  min-height: 100vh;
  height: 100%
}

.App-header {
  background-color: var(--main-orange);
  min-height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: var(--main-white);
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10%;
  font-weight: bold;
}

ul {
 list-style-type: none;
}

a {
  font-size: 1.2rem;
  color: var(--main-white);
  padding: .5rem;
  text-decoration: none;
}

a:hover {
  text-decoration-line: underline
}

.App-body {
  background-color: var(--main-blue);
}

.section {
  padding: 2%;
  margin: 2%;
  border-radius: 15px;
  color: var(--main-blue);
  background-color: var(--main-green);
  font-weight: bold;
  text-wrap: pretty;
}

.super-section {
  background-color: var(--main-pink);
  color: var(--main-white);
}

button {
  background-color: var(--main-orange);
  color: var(--main-white);
  border: none;
  font-size: 1.5em;
  padding: 2%;
  border-radius: 15px;
  margin: 10px;
}

button:hover {
  text-decoration-line: underline;
  cursor:pointer;
}

.section-header-link {
  font-size: 1.5rem;
  padding: 0;
}